body{
    color: darkslategray;
    background-color: antiquewhite;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px green solid;

}

h4{color: blue;}
p{
}